@model IEnumerable<CuaHangTapHoa.Models.LoaiMatHang>
@{
    ViewData["Title"] = "Index";
}

<br />
<br />

<div class="row">
    <div class="col-6">
        <h2 class="text-info">Danh sách loại mặt hàng</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; Loại mặt hàng mới</a>

    </div>
</div>

<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(m => m.TenLMH)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.TrangThai)
            </th>
            <th></th>
            <th></th>
        </tr>

        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.TenLMH)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.MoTa)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.TrangThai)
                    </td>
                    <td>
                        <partial name="_TableButtonPartial" model="item.MaLMH" />
                    </td>
                </tr>
            }
        }
    </table>
</div>
