@model IEnumerable<CuaHangTapHoa.Models.MatHang>
@{
    ViewData["Title"] = "Index";
}

<br />
<br />

<div class="row">
    <div class="col-6">
        <h2 class="text-info">Danh sách mặt hàng</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; Thêm mặt hàng mới</a>
    </div>
</div>

<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(m => m.TenMH)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.LoaiMatHang)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.TrangThai)
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.TenMH)
                </td>
                <td>
                    @Html.DisplayFor(m => item.LoaiMatHang.TenLMH)
                </td>
                <td>
                    @Html.DisplayFor(m => item.MoTa)
                </td>
                <td>
                    @Html.DisplayFor(m => item.TrangThai)
                </td>
                <td>
                    <partial name="_TableButtonPartial" model="item.MaMH" />
                </td>
            </tr>
        }
    </table>
</div>
